@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { 
    height: 100%; 
}
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.dense-2 {
    @include mat.all-component-densities(-5);
}

.mat-mdc-paginator-range-actions .mat-mdc-paginator-range-label {
    margin: 0 15px 0 15px;
}

.mat-mdc-paginator-page-size-label {
    display: none;
}

// #region snackbar 

.mat-mdc-snack-bar-container.error-snackbar .mat-mdc-snackbar-surface {
    background-color: #b91c1c;
}

.mat-mdc-snack-bar-container.success-snackbar .mat-mdc-snackbar-surface {
    background-color: #15803d;
}

// #endregion

// #region responsive
@media (max-width: 768px) {
    table {
      font-size: 0.75rem; /* Even smaller font for very small screens */
    }
    th, td {
      padding: 0.25rem;
    }
  }